
<div class="row">
  <div class="column">

    <h1 id="index-page">Join a Game</h1>
    <p><input type="text" id="room-name"></p>
    <p><button onclick="location.href = '/game/' + document.getElementById('room-name').value;">Join</button></p>

  </div>
</div>
