/* This file is for your main application css. */

@import "~milligram/dist/milligram";

.column > p {
    padding-top: 10ex;
    text-align: center;
}

.column > h1 {
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    border: 2px solid #C5C3C6;
    background-color: #E5E5E6;
    color: #FCFCFC;
    font-weight: bold;
    text-shadow: 2px 2px #9B35C6;
}
